rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function verified() {
      return request.auth != null && request.auth.token.email_verified == true;
    }
    function validStatus() {
      return request.resource.data.status in [
        'Not started', 'In progress', 'Pending', 'Resolved', 'Closed',
        "Won't Fix", 'Pending Release'
      ];
    }
    match /tickets/{ticketId} {
      allow read: if verified();
      allow create: if verified()
        && request.resource.data.keys().hasAll(['title', 'body', 'priority', 'user_id', 'user_email', 'created_at', 'status'])
        && request.resource.data.keys().hasOnly(['title', 'body', 'priority', 'user_id', 'user_email', 'created_at', 'status'])
        && request.resource.data.title is string
        && request.resource.data.title.size() > 0
        && request.resource.data.body is string
        && request.resource.data.body.size() > 0
        && request.resource.data.priority in ['low', 'medium', 'high']
        && validStatus()
        && request.resource.data.user_id == request.auth.uid
        && request.resource.data.user_email == request.auth.token.email
        && request.resource.data.created_at is timestamp
        && request.resource.data.created_at == request.time;
      allow delete: if verified();
      allow update: if verified()
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['title', 'body', 'status', 'updated_at'])
        && request.resource.data.title is string
        && request.resource.data.title.size() > 0
        && request.resource.data.body is string
        && request.resource.data.body.size() > 0
        && request.resource.data.priority in ['low', 'medium', 'high']
        && validStatus()
        && request.resource.data.updated_at is timestamp
        && request.resource.data.updated_at == request.time;
    }
  }
}
